body {
    background-color: #dddddd;
    background-image: url('/assets/resources/shopping181.png');
}

.main {
    position: relative;
    text-align: center;
}

.shopping-list{
    position:fixed;
    width:70px;
    float:right;
    height:40px;
    right: 25%;
    top: 10%;
}

.shop {
    border-radius: 1%;
    border-style: none;
}

.card {
    position: relative;
    display: inline-block;
    left: 40%;
    top: 10%;
    width: 350px;
    height: 200px
}

.card-text {
    position: relative;
    bottom: 10%;
    font-size: small;
}

.btn-warning, .btn-primary {
    border-radius: 100%;
    position: relative;
    width: 30px;
    height: 30px;
    right: 33%;
}

.btn-success, .btn-danger {
    border-radius: 100%;
    position: relative;
    width: 30px;
    height: 30px;
    right: 31%;
}

.bi-info-circle-fill{
    position: absolute;
    left: 50%;
    top: 10%;
}

.info {
    color: #696969;
}

a:hover {
    color: black;
}

.bi {
    border-color: black;
}

.order{
    position: relative;
    left:40%;
    bottom:15%;
    width: 20px;
    height: 20px;
}

.buy {
    position: relative;
    left:100%;
}

.bi-caret-down-fill{
    position: relative;
    right: 5%;
}

.bi-caret-up-fill{
    position: relative;
    left: 5%;
}

.number {
    position: relative;
    width: 15%;
    height: 40%;
    left: 15%
}