body {
    background-color: #dddddd;
    background-image: url('/assets/resources/shopping181.png');
}

.main {
    position: relative;
    text-align: center;
}

.card {
    position: relative;
    display: inline-block;
    left: 40%;
    top: 10%;
    width: 350px;
    height: 200px
}

.btn-warning, .btn-primary {
    border-radius: 100%;
    position: relative;
    width: 30px;
    height: 30px;
    left: 0%;
}

.btn-success, .btn-danger {
    border-radius: 100%;
    position: relative;
    width: 30px;
    height: 30px;
    left: 2%;
}