<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="look">
        <p>{{seedling.name}}</p>
        <p>{{seedling.company.full_name}}</p>
        <div class="progress">
            <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="5%" aria-valuemin="0" aria-valuemax="100" [ngStyle]="{'width': '' + seedling.progress + '%'}"></div>
        </div>
    </div>
</body>
</html>
