<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form class="form">
        <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="inputGroup-sizing-default">Old password:</span>
            </div>
            <input type="password" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" placeholder="e.g. 123" [(ngModel)]="old_password" name="xd">
        </div> 
        <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="inputGroup-sizing-default">New password:</span>
            </div>
            <input type="password" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" placeholder="e.g. 1234" [(ngModel)]="new_password" name="xd">
        </div>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="inputGroup-sizing-default">New password(again):</span>
            </div>
            <input type="password" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" placeholder="e.g. 1234" [(ngModel)]="new_password1" name="xd">
        </div>
        <button type="submit" class="btn btn-secondary" (click)="change()">Change password</button>
    </form>
</body>
</html>