html {
    min-height: 100vh;
    height: 100vh;
}

body {
    min-height: 100vh;
    height: 100vh;
    background-color: #696969;
}

.form {
    position: relative;
    width: 30%;
    top: 10%;
    left: 35%;
}