body {
    background-color: #dddddd;
}

#submit {
    position: relative;
    padding-left: 90%;
}

h4 {
    position: relative;
    top: 10%;
    left: 15%;
    color: darkslategray;
}

.recaptcha {
    position: relative;
    top: 2%;
    left: 40%;
}